<nav class="navbar bg-dark">
  <div class="container-fluid d-flex bd-highlight">
    <div class = "fs-3 text-light text-center">Reserva de sala</div>
    
    <div class="nav-link p-2 bd-highlight" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

        <% if logged_in? %>
          
          
               <div class = "text-light text-center">
        <a class="btn btn-md btn-light me-5" data-toggle="collapse" href="/" role="button" aria-expanded="false" aria-controls="collapseExample">Sair </a>
    </div>
          
            <div class=" fs-5 font-weight-light text-light text-center"><%= :username %></div>
          
        <% else %>
          <li>
            <%= link_to 'Cadastrar', new_user_path, class:"btn btn-outline-light p-2" %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>


    
