<div class="container-fluid w-50 position-absolute top-50 start-50 translate-middle">
    <div class="jumbotron shadow-lg p-5 mb-5 rounded text-center">
    <h1 class="display-4">Meeting Room</h1>
    <p class="lead">Controle a reserva de sala de reunião de maneira fácil e organizada!</p>
    <hr class="my-6 w-50 m-2 position position-absolute top-50 start-50 translate-middle">
    <%# <p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p> %>
    <a class="btn btn-secondary btn-lg mt-5 bg-dark"  href="/login" role="button">  Login  </a>
    <a class="btn btn-secondary btn-lg mt-5 bg-dark"  href="/users/new" role="button">Registrar</a>

    </div>
</div>